{% load static %}
<footer>
    <div class="footer-content">
        <div class="contacts">
            <div class="number">8 (925) 482-18-00</div>
            <div class="adres">г. Балашиха, пр-кт Ленина <br>(Западная Промзона Тер), д.2</div>
        </div>
        <div class="pages">
            <div class="page"><a href="/">Главная</a></div>
            <div class="page"><a href="/login">Авторизация</a></div>
            <div class="page"><a href="/cart">Корзина</a></div>
        </div>
        <div class="copyright">
            Все права защищены
        </div>
    </div>
</footer>