{% load static %}
<nav>
    <div class="menu">
        <div class="info">
            <div class="number">8 (925) 482-18-00</div>
            <div class="adres">г. Балашиха, пр-кт Ленина (Западная Промзона Тер), д.2</div>
        </div>
        <div class="logo">
            <a href="/">
                <img src="{% static 'res/logo.svg' %}" alt="ТД Люкс">
            </a>
        </div>
        <div class="panel">
            {% if user.is_authenticated %}
            <div class="panel-btn" id="exit">
                <a href="logout"></a>
            </div> 
            {% else %}
            <div class="panel-btn" id="auth">
                <a href="login"></a>
            </div> 
            {% endif %}
            <div class="panel-btn" id="cart">
                <a href="cart"></a>
            </div>
        </div>
    </div>
</nav>