{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'res/logo.svg' %}" type="image/x-icon">
    <title>{%block title%} ТД Люкс {% endblock title%}</title>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto&display=swap" rel="stylesheet">

    {% block styles %}{% endblock styles %}
</head>
<body>
    {% include "include/nav.html" %}
    <div class="content">
        {% block content %}{% endblock content %}
    </div>
    {% include "include/footer.html" %}
</body>
</html>