{% extends 'base.html' %}
{% load static %}

{% block title %}
Авторизация
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock styles %}

{% block content %}
<div class="form">
    <h1>Войти в личный кабинет</h1>
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="field">
                {{field.label_tag}}
                {{field}}
            </div>
        {% endfor %}
        {% for field in form %}
        <span style="color: red;">{{field.errors}}</span>
        {% endfor %}
        <div class="remember">
            <a href="register">Нет аккаунта? Создай новый!</a>
        </div>
        <div class="button">
            <input type="submit" id="submit" name="submit" value="Войти">
        </div>
    </form>
</div>
{% endblock content %}

