{% extends 'base.html' %}
{% load static %}

{% block title %}
Регистрация
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock styles %}

{% block content %}
<div class="form">
    <h1>Создать аккаунт</h1>
    <form action="/register" method="post">
        {% csrf_token %}
        <div class="fields">
            {% for field in userform %}
                <div class="field">
                    {{field.label_tag}}
                    {{field}}
                </div>
                {{field.errors}}
            {% endfor %}
        </div>
        
        <div class="button">
            <input type="submit" id="submit" name="submit" value="Создать уч. запись">
        </div>
    </form>
</div>
{% endblock content %}

